<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Modulo de cliente</h4>
                <a
                    routerLink="/cliente/registro"
                    class="btn btn-info"
                >Registro de cliente</a>
                <button class="btn btn-success" (click)="observar()">Observar</button>
            </div>
            <div class="card-body">
                <router-outlet></router-outlet>

                <ul *ngFor="let post of data$ | async">
                    <li>{{post['title']}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
